<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="hrx" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hrx</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="test_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API secret</label>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Maximum package weight (kg)</label>
                    <validate>required validate-number validate-zero-or-greater</validate>
                </field>
                <field id="default_weight" translate="label" type="text" sortOrder="141" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Default package weight (kg)</label>
                    <validate>required validate-number validate-zero-or-greater</validate>
                </field>
                <field id="default_width" translate="label" type="text" sortOrder="142" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Default package width (cm)</label>
                    <validate>required validate-number validate-zero-or-greater</validate>
                </field>
                <field id="default_length" translate="label" type="text" sortOrder="143" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Default package length (cm)</label>
                    <validate>required validate-number validate-zero-or-greater</validate>
                </field>
                <field id="default_height" translate="label" type="text" sortOrder="144" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Default package height (cm)</label>
                    <validate>required validate-number validate-zero-or-greater</validate>
                </field>
                <field id="default_warehouse" translate="label" type="select" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Default warehouse</label>
                    <source_model>Hrx\Shipping\Model\Source\Warehouse</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <!-- Free shipping price toggler -->
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="179" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free Shipping Amount Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="price" translate="label" type="text" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="free_shipping_from" translate="label" type="text" sortOrder="183" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free from</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Hrx\Shipping\Model\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
