<div class="omnivalt-parcel-terminal-list-wrapper" data-bind2="visible: selectedMethod() == 'omnivalt_PARCEL_TERMINAL'" style = "max-width:500px; display: none;">
    <p data-bind="visible: !showParcelTerminalSelection(), i18n: 'No parcel termninals found'"></p>
    <div data-bind="visible: showParcelTerminalSelection()">
        <select class="parcel-terminal-list" data-bind="
                                            foreach: parcelTerminals(),
                                            value: selectedParcelTerminal,
                                            ">
            <optgroup data-bind="attr: {label: name}, foreach: terminals">
                <option data-bind="value: zip, text: name + ' (' + location +')'"></option>
            </optgroup>
        </select>
    </div>
</div>