<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <hrx>
                <active>0</active>
                <test_mode>0</test_mode>
                <sallowspecific>0</sallowspecific>
                <cutoff_cost />
                <handling>0</handling>
                <model>Hrx\Shipping\Model\Carrier</model>
                <title>HRX delivery</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <unit_of_measure>KG</unit_of_measure>
                <max_package_weight>30</max_package_weight>
                <default_weight>1</default_weight>
                <default_width>10</default_width>
                <default_length>10</default_length>
                <default_height>10</default_height>
            </hrx>
        </carriers>
    </default>
</config>
